*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
    max-width: 90rem;
    margin: auto;
    height: 100vh;
    background: linear-gradient(180deg, $bg-soft-violet, $bg-soft-blue);
    background-repeat: no-repeat;  
    font-family: 'Kumbh Sans', sans-serif;
  }


ul {
    list-style: none;
  }


a {
    text-decoration: none;
  }

  p{
      font-size: 14px;
  }
  